.mm-md1 .mm-appbar {
    width: 100%;
    height: 56px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position:sticky;
    top:0;

    padding: 0 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

    background-color: var(--mm-appbar-bg);
    color: var(--mm-title);
    transition: background 0.2s ease;
}

.mm-md1 .mm-appbar-colored {
    background-color: var(--mm-primary-500);
    color: white;
}

.mm-md1 .mm-appbar-opposite {
    background-color: var(--mm-opposite-appbar-bg);
    color: var(--mm-opposite-title);
}