/* all buttons */
.mm-md1 .mm-button-raised, .mm-md1 .mm-button-flat {
    min-width: 64px;
    width: fit-content;
    min-height: 36px;

    margin-right: 8px;

    font-weight: 500;
    text-transform: uppercase;

    border-radius: 2px;
    border:0;

    cursor: pointer;
}

/* raised buttons */
.mm-md1 .mm-button-raised {
    padding: 0 14px;

    background-color: var(--mm-secondary-500);
    color: white;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s ease, background 0.2s ease;
}

.mm-md1 .mm-button-raised:active {
    background-color: var(--mm-secondary-700)
}

.mm-md1 .mm-appbar .mm-button-raised {
    background-color: var(--mm-card-bg);
    color: var(--mm-title);
    margin-left: 8px;
}

.mm-md1 .mm-appbar-colored .mm-button-raised {
    background-color: var(--mm-primary-a200);
    color: var(--mm-on-primary-a700);
}

.mm-md1 .mm-appbar-colored .mm-button-raised:active {
    background-color: var(--mm-primary-700);
}

.mm-md1 .mm-button-raised:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

/* flat buttons */
.mm-md1 .mm-button-flat {
    margin-left: -8px;
    padding: 0 8px;

    background-color: transparent;
    color: var(--mm-secondary-500);

    transition: background 0.2s ease, color 0.2s ease;
}

.mm-md1 .mm-button-flat:hover {
    background-color: rgba(153, 153, 153, 0.16)
}

.mm-md1 .mm-button-flat:active {
    background-color: rgba(153, 153, 153, 0.35)
}