.mm-md1 .mm-card {
    border-radius: 2px;
    padding: 16px;

    display: flex;
    flex-direction: column;

    background-color: var(--mm-card-bg);

    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s ease, background 0.2s ease;
}

.mm-md1 .mm-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.mm-md1 .mm-card h1 {
    margin-top: 4px;
    margin-bottom: -8px;
    color: var(--mm-title);
}

.mm-md1 .mm-card small {
    margin-top: 10px;
    margin-bottom: -8px;
    display: block;
    color: var(--mm-subtitle);
}

.mm-md1 .mm-card p {
    /* margin-bottom: 8px; */
}

.mm-md1 .mm-card .mm-card-bottom {
    margin-top: auto;

    display: flex;
    gap: 8px;
}

.mm-md1 .mm-card .mm-card-image {
    /* cursed? */
    margin: -16px;
    margin-bottom: 8px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.mm-md1 .mm-card-pwidth {
    width: 100% !important;
}