/* general themes */
.mm-theme-light {
    --mm-bg: #FAFAFA;
    --mm-card-bg: #FFF;
    --mm-appbar-bg: #F5F5F5;

    --mm-title: rgba(0, 0, 0, 0.87);
    --mm-subtitle: rgba(0, 0, 0, 0.54);
    --mm-paragraph: var(--mm-title);
}

.mm-theme-dark {
    --mm-bg: #303030;
    --mm-card-bg: #424242;
    --mm-appbar-bg: #212121;
    
    --mm-title: rgba(255, 255, 255, 1);
    --mm-subtitle: rgba(255, 255, 255, 0.7);
    --mm-paragraph: var(--mm-title);
}

/* color schemes (primary) */
.mm-primary-indigo {
    --mm-primary-light: #C5CAE9;
    --mm-on-primary-light: #000;

    --mm-primary: #3F51B5;
    --mm-on-primary: #FFF;

    --mm-primary-accent: #536DFE;
    --mm-on-primary-accent: #FFF;
}

/* color schemes (secondary) */
.mm-secondary-blue {
    --mm-secondary-light: #BBDEFB;
    --mm-on-secondary-light: #000;

    --mm-secondary: #2196F3;
    --mm-on-secondary: #FFF;

    --mm-secondary-accent: #448AFF;
    --mm-on-secondary-accent: #FFF;
}