.mm-md1 {
    height: 100%;
    margin: 0;

    background-color: var(--mm-bg);
    color: var(--mm-paragraph);

    transition: background 0.2s ease;
}

.mm-md1, .mm-md1 button {
    font-family: 'Roboto', 'San Francisco', 'Segoe UI', 'Helvetica', sans-serif;
}

.mm-md1 button, .mm-md1 p {
    font-size: 1em;
}

.mm-md1 h2 {
    font-size: 1.42em;
    font-weight: 500;
}

.mm-md1 h1 {
    font-size: 1.71em;
    font-weight: 500;
}

.mm-md1 .mm-content {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.mm-md1 .mm-content-grid > * {
    flex: 1 1 auto;
    min-width: 300px;
}