:root {
    --mm-red-50: #FFEBEE;
    --mm-red-100: #FFCDD2;
    --mm-red-200: #EF9A9A;
    --mm-red-300: #E57373;
    --mm-red-400: #EF5350;
    --mm-red-500: #F44336;
    --mm-red-600: #E53935;
    --mm-red-700: #D32F2F;
    --mm-red-800: #C62828;
    --mm-red-900: #B71C1C;
    --mm-red-a100: #FF8A80;
    --mm-red-a200: #FF5252;
    --mm-red-a400: #FF1744;
    --mm-red-a700: #D50000;
    --mm-pink-50: #FCE4EC;
    --mm-pink-100: #F8BBD0;
    --mm-pink-200: #F48FB1;
    --mm-pink-300: #F06292;
    --mm-pink-400: #EC407A;
    --mm-pink-500: #E91E63;
    --mm-pink-600: #D81B60;
    --mm-pink-700: #C2185B;
    --mm-pink-800: #AD1457;
    --mm-pink-900: #880E4F;
    --mm-pink-a100: #FF80AB;
    --mm-pink-a200: #FF4081;
    --mm-pink-a400: #F50057;
    --mm-pink-a700: #C51162;
    --mm-purple-50: #F3E5F5;
    --mm-purple-100: #E1BEE7;
    --mm-purple-200: #CE93D8;
    --mm-purple-300: #BA68C8;
    --mm-purple-400: #AB47BC;
    --mm-purple-500: #9C27B0;
    --mm-purple-600: #8E24AA;
    --mm-purple-700: #7B1FA2;
    --mm-purple-800: #6A1B9A;
    --mm-purple-900: #4A148C;
    --mm-purple-a100: #EA80FC;
    --mm-purple-a200: #E040FB;
    --mm-purple-a400: #D500F9;
    --mm-purple-a700: #AA00FF;
    --mm-deep-purple-50: #EDE7F6;
    --mm-deep-purple-100: #D1C4E9;
    --mm-deep-purple-200: #B39DDB;
    --mm-deep-purple-300: #9575CD;
    --mm-deep-purple-400: #7E57C2;
    --mm-deep-purple-500: #673AB7;
    --mm-deep-purple-600: #5E35B1;
    --mm-deep-purple-700: #512DA8;
    --mm-deep-purple-800: #4527A0;
    --mm-deep-purple-900: #311B92;
    --mm-deep-purple-a100: #B388FF;
    --mm-deep-purple-a200: #7C4DFF;
    --mm-deep-purple-a400: #651FFF;
    --mm-deep-purple-a700: #6200EA;
    --mm-indigo-50: #E8EAF6;
    --mm-indigo-100: #C5CAE9;
    --mm-indigo-200: #9FA8DA;
    --mm-indigo-300: #7986CB;
    --mm-indigo-400: #5C6BC0;
    --mm-indigo-500: #3F51B5;
    --mm-indigo-600: #3949AB;
    --mm-indigo-700: #303F9F;
    --mm-indigo-800: #283593;
    --mm-indigo-900: #1A237E;
    --mm-indigo-a100: #8C9EFF;
    --mm-indigo-a200: #536DFE;
    --mm-indigo-a400: #3D5AFE;
    --mm-indigo-a700: #304FFE;
    --mm-blue-50: #E3F2FD;
    --mm-blue-100: #BBDEFB;
    --mm-blue-200: #90CAF9;
    --mm-blue-300: #64B5F6;
    --mm-blue-400: #42A5F5;
    --mm-blue-500: #2196F3;
    --mm-blue-600: #1E88E5;
    --mm-blue-700: #1976D2;
    --mm-blue-800: #1565C0;
    --mm-blue-900: #0D47A1;
    --mm-blue-a100: #82B1FF;
    --mm-blue-a200: #448AFF;
    --mm-blue-a400: #2979FF;
    --mm-blue-a700: #2962FF;
    --mm-light-blue-50: #E1F5FE;
    --mm-light-blue-100: #B3E5FC;
    --mm-light-blue-200: #81D4FA;
    --mm-light-blue-300: #4FC3F7;
    --mm-light-blue-400: #29B6F6;
    --mm-light-blue-500: #03A9F4;
    --mm-light-blue-600: #039BE5;
    --mm-light-blue-700: #0288D1;
    --mm-light-blue-800: #0277BD;
    --mm-light-blue-900: #01579B;
    --mm-light-blue-a100: #80D8FF;
    --mm-light-blue-a200: #40C4FF;
    --mm-light-blue-a400: #00B0FF;
    --mm-light-blue-a700: #0091EA;
    --mm-cyan-50: #E0F7FA;
    --mm-cyan-100: #B2EBF2;
    --mm-cyan-200: #80DEEA;
    --mm-cyan-300: #4DD0E1;
    --mm-cyan-400: #26C6DA;
    --mm-cyan-500: #00BCD4;
    --mm-cyan-600: #00ACC1;
    --mm-cyan-700: #0097A7;
    --mm-cyan-800: #00838F;
    --mm-cyan-900: #006064;
    --mm-cyan-a100: #84FFFF;
    --mm-cyan-a200: #18FFFF;
    --mm-cyan-a400: #00E5FF;
    --mm-cyan-a700: #00B8D4;
    --mm-teal-50: #E0F2F1;
    --mm-teal-100: #B2DFDB;
    --mm-teal-200: #80CBC4;
    --mm-teal-300: #4DB6AC;
    --mm-teal-400: #26A69A;
    --mm-teal-500: #009688;
    --mm-teal-600: #00897B;
    --mm-teal-700: #00796B;
    --mm-teal-800: #00695C;
    --mm-teal-900: #004D40;
    --mm-teal-a100: #A7FFEB;
    --mm-teal-a200: #64FFDA;
    --mm-teal-a400: #1DE9B6;
    --mm-teal-a700: #00BFA5;
    --mm-green-50: #E8F5E9;
    --mm-green-100: #C8E6C9;
    --mm-green-200: #A5D6A7;
    --mm-green-300: #81C784;
    --mm-green-400: #66BB6A;
    --mm-green-500: #4CAF50;
    --mm-green-600: #43A047;
    --mm-green-700: #388E3C;
    --mm-green-800: #2E7D32;
    --mm-green-900: #1B5E20;
    --mm-green-a100: #B9F6CA;
    --mm-green-a200: #69F0AE;
    --mm-green-a400: #00E676;
    --mm-green-a700: #00C853;
    --mm-light-green-50: #F1F8E9;
    --mm-light-green-100: #DCEDC8;
    --mm-light-green-200: #C5E1A5;
    --mm-light-green-300: #AED581;
    --mm-light-green-400: #9CCC65;
    --mm-light-green-500: #8BC34A;
    --mm-light-green-600: #7CB342;
    --mm-light-green-700: #689F38;
    --mm-light-green-800: #558B2F;
    --mm-light-green-900: #33691E;
    --mm-light-green-a100: #CCFF90;
    --mm-light-green-a200: #B2FF59;
    --mm-light-green-a400: #76FF03;
    --mm-light-green-a700: #64DD17;
    --mm-lime-50: #F9FBE7;
    --mm-lime-100: #F0F4C3;
    --mm-lime-200: #E6EE9C;
    --mm-lime-300: #DCE775;
    --mm-lime-400: #D4E157;
    --mm-lime-500: #CDDC39;
    --mm-lime-600: #C0CA33;
    --mm-lime-700: #AFB42B;
    --mm-lime-800: #9E9D24;
    --mm-lime-900: #827717;
    --mm-lime-a100: #F4FF81;
    --mm-lime-a200: #EEFF41;
    --mm-lime-a400: #C6FF00;
    --mm-lime-a700: #AEEA00;
    --mm-yellow-50: #FFFDE7;
    --mm-yellow-100: #FFF9C4;
    --mm-yellow-200: #FFF59D;
    --mm-yellow-300: #FFF176;
    --mm-yellow-400: #FFEE58;
    --mm-yellow-500: #FFEB3B;
    --mm-yellow-600: #FDD835;
    --mm-yellow-700: #FBC02D;
    --mm-yellow-800: #F9A825;
    --mm-yellow-900: #F57F17;
    --mm-yellow-a100: #FFFF8D;
    --mm-yellow-a200: #FFFF00;
    --mm-yellow-a400: #FFEA00;
    --mm-yellow-a700: #FFD600;
    --mm-amber-50: #FFF8E1;
    --mm-amber-100: #FFECB3;
    --mm-amber-200: #FFE082;
    --mm-amber-300: #FFD54F;
    --mm-amber-400: #FFCA28;
    --mm-amber-500: #FFC107;
    --mm-amber-600: #FFB300;
    --mm-amber-700: #FFA000;
    --mm-amber-800: #FF8F00;
    --mm-amber-900: #FF6F00;
    --mm-amber-a100: #FFE57F;
    --mm-amber-a200: #FFD740;
    --mm-amber-a400: #FFC400;
    --mm-amber-a700: #FFAB00;
    --mm-orange-50: #FFF3E0;
    --mm-orange-100: #FFE0B2;
    --mm-orange-200: #FFCC80;
    --mm-orange-300: #FFB74D;
    --mm-orange-400: #FFA726;
    --mm-orange-500: #FF9800;
    --mm-orange-600: #FB8C00;
    --mm-orange-700: #F57C00;
    --mm-orange-800: #EF6C00;
    --mm-orange-900: #E65100;
    --mm-orange-a100: #FFD180;
    --mm-orange-a200: #FFAB40;
    --mm-orange-a400: #FF9100;
    --mm-orange-a700: #FF6D00;
    --mm-deep-orange-50: #FBE9E7;
    --mm-deep-orange-100: #FFCCBC;
    --mm-deep-orange-200: #FFAB91;
    --mm-deep-orange-300: #FF8A65;
    --mm-deep-orange-400: #FF7043;
    --mm-deep-orange-500: #FF5722;
    --mm-deep-orange-600: #F4511E;
    --mm-deep-orange-700: #E64A19;
    --mm-deep-orange-800: #D84315;
    --mm-deep-orange-900: #BF360C;
    --mm-deep-orange-a100: #FF9E80;
    --mm-deep-orange-a200: #FF6E40;
    --mm-deep-orange-a400: #FF3D00;
    --mm-deep-orange-a700: #DD2C00;
    --mm-brown-50: #EFEBE9;
    --mm-brown-100: #D7CCC8;
    --mm-brown-200: #BCAAA4;
    --mm-brown-300: #A1887F;
    --mm-brown-400: #8D6E63;
    --mm-brown-500: #795548;
    --mm-brown-600: #6D4C41;
    --mm-brown-700: #5D4037;
    --mm-brown-800: #4E342E;
    --mm-brown-900: #3E2723;
    --mm-gray-50: #FAFAFA;
    --mm-gray-100: #F5F5F5;
    --mm-gray-200: #EEEEEE;
    --mm-gray-300: #E0E0E0;
    --mm-gray-400: #BDBDBD;
    --mm-gray-500: #9E9E9E;
    --mm-gray-600: #757575;
    --mm-gray-700: #616161;
    --mm-gray-800: #424242;
    --mm-gray-900: #212121;
    --mm-blue-gray-50: #ECEFF1;
    --mm-blue-gray-100: #CFD8DC;
    --mm-blue-gray-200: #B0BEC5;
    --mm-blue-gray-300: #90A4AE;
    --mm-blue-gray-400: #78909C;
    --mm-blue-gray-500: #607D8B;
    --mm-blue-gray-600: #546E7A;
    --mm-blue-gray-700: #455A64;
    --mm-blue-gray-800: #37474F;
    --mm-blue-gray-900: #263238;
    --mm-black: #000000;
    --mm-white: #FFFFFF;
}